/*
  forked from gokulkrishh/media-query.css
  
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

.Appbar-Grid-Container__Item{
  
  display: flex;
  justify-content: center;
  align-items: center;

}

.Appbar-Grid-Container__Item__Text{
  font-size: 30px;
  color : white;
  text-shadow: 3px 3px black;
}

.Appbar-Grid-Container__Item__Input:focus{
  outline: none;
  color : black;
  background-color: white;
  font-weight: bold;
  transition: background-color 750ms ease-in-out;
  width: 100%;
  transition: width 0.2s;
}

.Appbar-Grid-Container__Item__Input{

  border : none;
  padding-left: 10%;
  font-size: 20px;
  height : 100%;
  color : white;
  background-color: rgba(0,0,0,0);
  width: 50%;

} 
.Appbar-Grid-Container__Item__Input::placeholder{

  color: white;
   
}
.Appbar-Grid-Container__Item__Input:focus::placeholder{

  color: black;
  transition : color 750ms ease-in-out;
  
}

@media (min-width: 1281px) {
  
 .Appbar-Grid-Container{
   
    height : 60px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    background-color: rgb(38, 50, 56); 

  }

}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  .Appbar-Grid-Container{
   
    height : 60px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: rgb(38, 50, 56); 
  
    }

}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  .Appbar-Grid-Container{
   
    height : 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(38, 50, 56); 
  
    }

}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  .Appbar-Grid-Container{
   
    height : 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(38, 50, 56); 
  
    }
    .Appbar-Grid-Container__Item:nth-child(2){
      display: none;
    }
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  .Appbar-Grid-Container{
   
    height : 35px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(38, 50, 56); 
  
    }
    .Appbar-Grid-Container__Item:nth-child(2){
      display: none;
    }

    .Appbar-Grid-Container__Item__Text{
      font-size: 20px;
    }  

    .Appbar-Grid-Container__Item__Input{
      padding: 0;
      text-align: center;
      font-size: 15px;

    }  
  
    .Appbar-Grid-Container__Item__Input:focus{
 
      background-color: rgb(224, 242, 241);
    
    }
  
}

