.Card-Box{
  box-sizing: border-box;
  height: auto;
  width : 100%;
  background-color: white;
  border : 2px solid rgb(236, 239, 241);
  -webkit-box-shadow: 0 10px 6px -6px #777;
	   -moz-box-shadow: 0 10px 6px -6px #777;
	        box-shadow: 0 10px 6px -6px #777;
}

.Card-Box:hover {

  border : 2px solid rgb(129, 169, 234) 

}

.Card-Row{
  height : 40px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.Card-Row:nth-child(1){
  border-bottom: 1px solid rgb(200,200,200);
}
.Card-Text{
  font-size: calc(1vw);
  font-weight: bold;
  font-family: "Noto Sans CJK KR"
}

/*
  forked from gokulkrishh/media-query.css
  
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
 
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
 

}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  .Card-Text{
    font-size: calc(1.5vw);
  }

  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  .Card-Text{
    font-size: calc(2vw);
  }
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  .Card-Text{
    font-size: 15px;
  }
  
}