/*
  forked from gokulkrishh/media-query.css
  
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
    .Grid-Wrapper__Appbar {
        display: grid;
        height: 60px;
        /* border-bottom: 1px solid black; */
        grid-template-columns: 1fr 3fr 1fr;
        background-color: rgb(38, 50, 56); 
        
      }
  
      .Appbar-View-Options {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
      }
      
      .Grid-Wrapper__Content {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 4fr;
        height : calc(100% - 60px);
        background-color: rgb(236, 239, 241);
        
      }

      .Content-Column-Side{
        border-right : 1px solid black;
        padding-top : 20px;
        text-align: center;
        overflow-y: auto;
        
      }

      .District-Partition{
        /* margin-bottom : 20px; */
      }
      .District-Partition__Key{
        cursor: pointer;
        margin-bottom : 20px;
      }
      .District-Partition__Key:hover{
        text-decoration: underline;
      }

      .District-Partition__List li{
        margin-bottom: 10px;
      }

      .District-Partition__List li:hover{
        cursor: pointer;
        text-decoration: underline;
      }

      .List-Initial-State {
        max-height : 0px;
        overflow : hidden;
        margin-bottom : 20px;
      }

      .showing{
        max-height : 2000px;
        transition: max-height 0.55s ease-in;
      }
      .closing{
        max-height : 0px;
        transition: max-height 0.55s ease-in;
        overflow: hidden;
      }

      .Content-Column-Grid {
        display: grid;
        grid-template-columns: 75% 25%;
        grid-template-rows : 40% 60%;
        
      }
  
      .Column-Grid-Item {
        padding: 20px;
      }
      .Column-Grid-Item:nth-child(2n-1){
        border-right: 1px solid black;
      }
      .Column-Grid-Item:nth-child(1){
        border-bottom: 1px solid black;
        
      }
      .Column-Grid-Item:nth-child(2){
        border-bottom: 1px solid black;
      }

      .Card-Section {
        display: grid;
        grid-template-rows: 60px 1fr;
      }

      #google-map {
        width: 100%;
        height: 100%;
      }
      
     
      
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
 

}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  

  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
 
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  
  
}